body{
    background: $bg-color;
}

header{
    width: 100%;
    height: $header-height;
    font-size: 16px;
    font-weight: 400;
    position: fixed;
    padding-left: $aside-width;
    padding-right: 32px;
    background: $bg-color;
    display: flex;
    .symbol{
        padding-left: 32px;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        img{
            width: 100px;
            height: 30px;
        }
        .front{
            position: absolute; 
            z-index: 1;
            background: rgb(24, 24, 24);
            width: 100px;
            height: 30px;
        }
    }

    nav{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        a{
            display: flex;
            align-items: center;
            padding: 0 12px;
            line-height: 135%;
            font-size: 14px;
            font-weight: 500;
            color: rgb(60, 60, 67);
            transition: color .25s;
        }
        span{
            display: flex;
            align-items: center;
            padding: 0 12px;
            line-height: 135%;
            font-size: 14px;
            font-weight: 500;
            color: rgb(60, 60, 67);
            transition: color .25s;
        }
        .__lang{
            cursor: pointer;
            position: relative;
            &:hover{
                #lang-select-popup{
                    display: flex;
                }
            }
        }
        #lang-select-popup{
            position: absolute;
            right: 0;
            top: 100%;
            z-index: 99;
            height: fit-content;
            display: none;
            .container-tooltip{
                width: 78px;
                right: 0;
                top: 0;
                border-radius: 8px;
                padding: 14px 8px 14px 8px;
                background: rgba(0, 0, 0, 0.8);
                backdrop-filter: blur(4px);
                border-radius: 8px;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                .select{
                    max-width: 100px;
                    height: 13px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        color: inherit;
                        color: #fff;
                    }
                    &:not(:last-of-type){
                        margin-bottom: 12px;
                    }
                    &:hover{
                        
                    }
                }
            }
        }
    }
}

aside{
    background: $nav-color;
    width: $aside-width;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 0 32px 96px;
    .logo{
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border-line;
        width: 100%;
        height: $header-height;
        font-size: 16px;
        font-weight: 600;
        color: black; 
        transition: opacity .25s;
        .icon{
            height: 100%;
            display: flex;
            align-items: center;
            img{
                display: block;
                margin-right: 8px;
                height: 24px;            
            }
        }
    }
    .items{
        padding-top: 10px;
        .item{
            &.active{
                color: #333;
            }
            &.guide{
                color: black;
                font-weight: 700;
            }
            display: block;
            line-height: 24px;
            font-size: 14px;
            transition: color .25s;
            color: #888888;
            cursor: pointer;
            &:not(:last-of-type){
                margin-bottom: 4px;
            }
        }
    }
    
}

main{
    padding-top: $header-height;
    padding-left: $aside-width;
    section{
        padding: 32px 32px 128px;
        .content{
            display: none;
            padding: 0 32px;
            &.active{
                display: block;
            }
            h1{
                letter-spacing: -.02em;
                line-height: 40px;
                font-size: 32px;
            }
            h2{
                margin: 48px 0 16px;
                border-top: 1px solid $border-line;
                padding-top: 24px;
                letter-spacing: -.02em;
                line-height: 32px;
                font-size: 24px;
            }
            p{
                line-height: 28px;
                margin: 16px 0;
                font-size: 16px;
                font-weight: 400;
            }
            table{
                display: block;
                border-collapse: collapse;
                margin: 20px 0;
                tr{
                    border-bottom: 1px solid rgb(128, 128, 128);
                }
                th,td{
                    border: 1px solid rgb(246, 246, 247);
                    padding: 8px 16px;
                }
                th{
                    font-size: 14px;
                    font-weight: 600;
                    color: black;
                    background-color: rgb(246, 246, 247);
                }
                td{
                    font-size: 14px;
                    font-weight: 600;
                    color: rgba(60, 60, 67, 0.75);
                    padding: 12px 16px;
                    background: #fff;
                    vertical-align: middle;
                }
                
            }
            .code-box{
                border-radius: 8px;
                margin: 16px 0;
                background: rgb(41, 43, 48);
                .code{
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    .line{
                        display: flex;
                        span{
                            margin-right: 0.2rem;
                        }
                    }
                }
            }
            .img-box{
                width: 100%;
                display: flex;
                .apply{
                    display: block;
                    width: max(20vw,150px);
                    height: max(20vw,150px);
                    position: relative;
                    margin-right: max(1vw,5px);
                    .__trans{
                        z-index: 1;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                    .text{
                        z-index: 1;
                        position: absolute;
                        left: 1rem;
                        bottom: 1rem;
                        line-height: 98%;
                        color: white;
                    }
                }
                img{
                    display: block;
                    width: max(20vw,150px);
                    height: max(20vw,150px);
                    &:not(:last-of-type){
                        margin-right: max(1vw,5px);
                    }
                }
            }
            &.cont-1{
                
            }
        }
        
    }
}